<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th *ngIf="showApproved" scope="col">Approved?</th>
      <th scope="col">Name</th>
      <th scope="col">Points</th>
      <th scope="col">Celebs</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of entries; let index = index;">
      <tr>
        <td *ngIf="showApproved" [rowSpan]="entry.selections.length + 1" class="text-center">
          <input type="checkbox" class="form-check-input" [checked]="entries[index].isApproved" (change)="entries[index].isApproved = !entries[index].isApproved">
        </td>
        <td [rowSpan]="entry.selections.length + 1">{{entry.player.firstname}} {{entry.player.lastname}}</td>
        <td [rowSpan]="entry.selections.length + 1">{{entry.points}}</td>
      </tr>
      <tr *ngFor="let celeb of entry.selections">
        <td>
          <ng-container *ngIf="celeb.isWildcard">Wildcard: </ng-container>
          {{celeb.name}}
          <ng-container *ngIf="celeb.isDead">&#x2620;</ng-container>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>