<div class="container bg-dark text-white my-3 border rounded py-3">
  <h1>Celebrity Death Pool</h1>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Points</th>
        <th scope="col">Celebs</th>
      </tr>
      <tr>
        <td rowspan="6">Tyler</td>
        <td rowspan="6">4</td>
        <td>Ryan Reynolds</td>
      </tr>
      <tr>
        <td>Dan Levy</td>
      </tr>
      <tr>
        <td>Harry Potter &#x2620;</td>
      </tr>
      <tr>
        <td>Donald Trump &#x2620;</td>
      </tr>
      <tr>
        <td>Wildcard: Patrick Stewart</td>
      </tr>
    </thead>
  </table>
</div>
