<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th *ngIf="showApproved" scope="col">Approved?</th>
      <th scope="col">Name</th>
      <th scope="col">Points</th>
      <th scope="col">Celebs</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of entries; let index = index;">
      <tr>
        <td *ngIf="showApproved" [rowSpan]="entry.entrySelections.length + 1" class="text-center">
          <input type="checkbox" class="form-check-input" [checked]="entries[index].approved" (change)="updateEntry(index)">
        </td>
        <td [rowSpan]="entry.entrySelections.length + 1">{{entry.player.firstName}} {{entry.player.lastName}}</td>
        <td [rowSpan]="entry.entrySelections.length + 1">{{entry.points}}</td>
      </tr>
      <tr *ngFor="let selection of entry.entrySelections">
        <td>
          <ng-container *ngIf="selection.wildcard">Wildcard: </ng-container>
          {{selection.celebrity.celebrityName}}
          <ng-container *ngIf="selection.celebrity.dead">&#x2620;</ng-container>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>